# Tiwana Farms Environment Configuration
PORT=8080

# Stripe Credentials (Dashboard: https://dashboard.stripe.com/apikeys)
STRIPE_SECRET_KEY=sk_live_51...
STRIPE_PUBLISHABLE_KEY=pk_live_51RAYYEDVPomNa2v9s8LhijyjTjazuhjeCOD13M3EkfaIrynHZDwsUiPZtluedFDP2IPCwAXKGX8B5vcrUtmMlUd700xrFvt7YX
STRIPE_WEBHOOK_SECRET=whsec_...

# PayPal Credentials
PAYPAL_CLIENT_ID=BAAXNfGUdGDkw04cdb4DEGvHITG3SezTO7aKTYAyIMC9llST0YnfYTeV5g_Tap-rW8eLUTIRZooPSb-9DM
PAYPAL_SECRET=BAAXNfGUdGDkw04cdb4DEGvHITG3SezTO7aKTYAyIMC9llST0YnfYTeV5g_Tap-rW8eLUTIRZooPSb-9DM
